<div class="control-section">
    <br /><br />
    <!-- <ejs-treegrid [dataSource]='data' [toolbar]='toolbar' [allowFiltering]='true' height='600' rowHeight='38'
        [treeColumnIndex]='1' [editSettings]='editSettings' [showColumnChooser]='true'> -->
        <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data' rowHeight='38' [allowSelection]='true'
            [allowSorting]='true' height='600' (dataBound)='onDataBound($event)' [enableHover]='false'
            [enableHeaderFocus]='true' [selectionSettings]='selectionSettings' [filterSettings]='filterSettings'
            [allowSorting]='true' [allowFiltering]='true' [enableVirtualization]='true' [toolbar]='toolbar'
            [treeColumnIndex]='1' [editSettings]='editSettings' [showColumnChooser]='true'>
            <e-columns>
                <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='60'></e-column>
                <e-column field='EmployeeID' [visible]='false' headerText='Employee ID' width='130'
                    [isPrimaryKey]='true'>
                </e-column>
                <e-column field='Employees' headerText='Employee Name' [filter]='filter' [showInColumnChooser]='false'
                    clipMode='EllipsisWithTooltip' width='200'>
                    <ng-template #template let-data>
                        <div>
                            <div class="empimg">
                                <span *ngIf="data.EmployeeImg === 'usermale'" class="e-userimg sf-icon-Male">
                                </span>
                                <span *ngIf="data.EmployeeImg === 'userfemale'" class="e-userimg sf-icon-FeMale">
                                </span>
                            </div>
                            <span id="Emptext">{{data.Employees}}</span>
                        </div>
                    </ng-template>
                </e-column>
                <e-column field='Designation' headerText='Designation' [filter]='filter' clipMode='EllipsisWithTooltip'
                    width='170'></e-column>
                <e-column field='Mail' headerText='Mail' [filter]='filterSettings' width='230'></e-column>
                <e-column field='Location' headerText='Location' [filter]='filter' width='140'>
                    <ng-template #template let-data>
                        <div class="loc">
                            <img src="./assets/grid/images/Map.png" class="e-image" alt="{{data.Location}}" />
                            <span id="locationtext">{{data.Location}}</span>
                        </div>
                    </ng-template>
                </e-column>
                <e-column field='CurrentSalary' headerText='Current Salary' [filter]='filterSettings' format='C2'
                    width='160'></e-column>
                <e-column field='Address' headerText='Address' [filter]='filterSettings' clipMode='EllipsisWithTooltip'
                    width='240'></e-column>
            </e-columns>
        </ejs-grid>
    <!-- </ejs-treegrid> -->
</div>